@page
@model MediaBazaar_Website.Pages.Authorization.AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<div class="center">
<h1> <code>Access Denied</code></h1>
<h3>You dont have permission to view this site.</h3>
<h3>🚫🚫🚫🚫</h3>
</div>
