@page
@model MediaBazaar_Website.Pages.Authorization.ChangepasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = null;
}
<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/Media Bazaar logo.png" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<small>@Model.Error</small>

<div class="main">
    <div class="login-main">
        <form class="login-form" method="post">
            <div>
                <center>
                    <h3>Please reset your password</h3>
                </center>
                <div class="input">
                    <label>New password</label>
                    <input type="password" asp-for="Password">
                    <span asp-validation-for="Password"></span>
                    <br>

                </div>
                <div class="input">
                    <label>Confirm password</label>
                    <input type="password" asp-for="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <button type="submit" asp-page-handler="Add" class="submitBtn" value="Save">Save</button>
        </form>
    </div>
</div>

@section Scripts
    {
<partial name="_ValidationScriptsPartial" />
    }